.product-page{
    height: 500px;
}
.product-page__container {
    display: flex;
    margin: 40px 0;
}
.product-page__title {
    text-align: start;
    padding-left: 15%;
}
.product-page__image {
    width: 250px;

}
.product-page__image img {
    /*width: 100%;*/
}
.product-page__description {
    width: 55%;
    padding: 3%;
    font-size: calc(14px + (22 - 14) * ((100vw - 500px) / (1920 - 500)));
}
.product-page__description h2 {
   font-size: calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500)));
    font-weight: normal;
}
.product-page__price {
    font-size: calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500)));
}