.category-card-list {
    position: relative;
    top: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}
.category-card-list__item{
    width: 31%;
}
@media screen and (max-width: 520px) {
    .category-card-list {
        top: -10px;
    }
}