.category-card-list {
    position: relative;
    top: -40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding: 0 17%;

}
.category-card-list__item{
    width: 31%;
    /*margin: 20px;*/
}