.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}
h2.category-card__title {
    width: fit-content;
    height: 30px;
    margin-top: 3px;
    color: #424551;
    font-weight: normal;
    font-size: calc(14px + (16 - 14) * ((100vw - 500px) / (1920 - 500)));
    font-family: sans-serif;
    line-height: 150%;
}
.category-card__image  img {
    width: 100%;
}
.category-card__link {
    text-decoration: none;
    transition: .2s opacity;
}
.category-card__link:hover {
    opacity: .7;
}