.basket  {
    margin: 0;

}
ul.basket__list {
    list-style: none;
    padding: 0
}
.basket__item {
    /*margin-bottom :30px ;*/
}
.basket__separator {
    margin: 10px 0;
    height: 3px;
    background-color: #E5E5E5;
}