.product-in-basket_container {
    display: flex;
    height: 160px;
justify-content: space-between;
    gap: 40px;
}
.product-in-basket_left {
    display: flex;
    align-items: center;
}
.product-in-basket_right {
    display: flex;
    align-items: center;
    gap: 20px
}
.product-in-basket_title {
    padding-left:10px ;
    text-align: start;
    width: fit-content;
}
.product-in-basket_image {
    height: 100%;

}
.product-in-basket_image img {
    height: 160px;
    min-width: 142px;
}
.product-in-basket_price {
    width: 120px;
    font-size: calc(16px + (22 - 16) * ((100vw - 500px) / (1920 - 500)));
}
.product-in-basket_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-in-basket_iterator {
    width: 32px;
    text-align: center;
}
.product-in-basket_wrapper button {
    border: none;
    border-radius: 10px;
}
.product-in-basket_delete-button {
    border: none;
    background: none;
    color: #1E212C;
}