.kids-product-card-list_item {
    margin-bottom: 20px;
    width: calc(160px + (220 - 160) * ((100vw - 500px) / (1920 - 500)));
    height: calc(240px + (320 - 240) * ((100vw - 500px) / (1920 - 500)));
}
.kids-product-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}