.footer {
    background-color: #1E212C;
    font-size: calc(8px + (16 - 8) * ((100vw - 500px) / (1920 - 500)));
    line-height: 160%;
    color: #ffffff;
}
.footer_container {
    display: flex;
    justify-content: space-between;
}
.footer_container ul {
    padding: 0;
    list-style: none;
    opacity: 0.6;
}
.footer_copyright {
    font-size: 0.8em;
    opacity: 0.6;
}
.footer_contacts a {
    font-size: 12px;
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
}
.footer_working-hours {
    opacity: 0.6;
    font-size: 12px;
}
.footer__item-link {
    font-size: 12px;
    color: #ffffff;
}

.footer_email {
    display: block;
}
.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding: calc(8px + (18 - 8) * ((100vw - 500px) / (1920 - 500))) 0;
    gap: 30px;
    opacity: 0.6;
}
.footer_social-links {
    display: flex;
    gap: 10px;
}
.footer_icon {
    width: 20px;
    height: 20px;
}